<link rel="stylesheet" type="text/css" href="/styles/table.css">

<h1>Highscores</h1>

<hr/>

<div class="table">
<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
  </tr>

<% for player in @sorted_players %>
  <tr>
    <td> <%= player.name %></td>
    <td> <%= player.wins %></td>
  </tr>
<% end %>
</table>
</div>