<h1>Players List</h1>

<li><a href="/player_list/new">Add Player</a></li>

<hr/>

<% for player in @players %>
<p>Name: <%= player.name %></p>
<p><a href="/player_list/<%= player.id %>"> Show Stats </a></p>

<hr/>


<% end %>
