<link rel="stylesheet" type="text/css" href="/styles/gif.css">

<div class="table">

<p><%= @players.name %> has been added to the game</p>

<a class="fightbutton" href="/player_list">Players List</a>

</div>
