<link rel="stylesheet" type="text/css" href="/styles/settings.css">

<h1>Settings</h1>

<li><a href="/player_list">Player List</a></li>
<li><a href="/player_list/new">Add player</a></li>
<li><a href="/battle_list">Battle List</a></li>
<li><a href="/battle_list/new">Add Battle</a></li>
