<link rel="stylesheet" type="text/css" href="/styles/table.css">

<h1>Settings</h1>

<li class="settingsmenu"><a href="/player_list">Player List</a></li>
<li class="settingsmenu"><a href="/player_list/new">Add player</a></li>
<li class="settingsmenu"><a href="/battle_list">Battle List</a></li>
<li class="settingsmenu"><a href="/battle_list/new">Add Battle</a></li>
