<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Clan Combat</title>
    <link rel="icon" href="/images/martial-art-fighter.png" />

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Settings</a></li>
        <li><a href="/battle_generator">Fight!</a></li>
        <li><a href="/player_list/highscores">Highscores</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
