<link rel="stylesheet" type="text/css" href="/styles/fightgif.css">

<p>The winner is <%= @battle.get_player(@battle.outcome, "outcome").name  %></p>

<a class="fightbutton" href="/battle_list">Battle List</a>
