<link rel="stylesheet" type="text/css" href="/styles/table.css">

<form class="new" action="/battle_list" method="post">

<p id="background">Select combatants!</p>

<p>
  <label for="player1-select">Player 1:</label>
  <select name="player1_id" id="player1-select">
    <% for player in @players %>
      <option value="<%= player.id %>"><%= player.name %></option>
  <% end %>
  </select>
</p>
<div class="margin-left">
VS
</div>
<p>
  <label for="player2-select">Player 2:</label>
  <select name="player2_id" id="player2-select">
    <% for player in @players %>
      <option value="<%= player.id %>"><%= player.name %></option>
  <% end %>
  </select>
</p>
<p>
<input type="submit" value="Fight!">
</p>

</form>
