<link rel="stylesheet" type="text/css" href="/styles/battle_table.css">

<h1>Battles List</h1>

<li><a href="/battle_list/new">Add Battle</a></li>

<hr/>




<div class="table">
<table>
  <tr>
    <th>Battle</th>
    <th>Winner</th>
  </tr>

<% for battle in @battles %>
  <tr>
    <td> <%= battle.get_player1.name %> vs <%= battle.get_player2.name  %></td>
    <td> <%= battle.get_player(battle.outcome, "outcome").name %></td>
  </tr>
<% end %>
</table>
</div>
