<h1>Battles List</h1>

<li><a href="/battle_list/new">Add Battle</a></li>

<hr/>

<% for battle in @battles %>
<p> <%= battle.get_player1.name %> vs <%= battle.get_player2.name  %> </p>

<p><%= battle.get_player(battle.outcome, "outcome").name %> wins </p>
<p><a href="/battle_list/<%= battle.id %>"> Show Battle </a></p>

<hr/>

<% end %>
