body {
  background: url('/images/tenor.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  margin-left: 15%;
  padding:15px 25px;
  color:#dddddd;
  background:#ac452d;
  border-color:#5e1415;
  border-radius: 5px;
  font-size: 22px;
  width: 22%;
}

.fightbutton{
  margin-left: 15%;
  padding:15px 25px;
  color:#dddddd;
  background:#ac452d;
  border-color:#5e1415;
  border-radius: 5px;
  font-size: 22px;
  width: 22%;
}
