body {
  background: url('/images/kungfupanda.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c31a2d;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #f5f2d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {background-color: #5b0a0d;}

.logo{
  height: 25%;
  width: 25%;
  float: right;
}

#fight{
  background-color: #5e1415;
}

#fight:hover{
  font-size: 20px;
  background-color: green;
}
