h1 {
  margin-left: 15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #5b0a0d;
}

tr:nth-child(odd) {
    background-color: #ac452d;
}


.table{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  width: 50%;
  height: auto;
}
