h1 {
  margin-left: 15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #5b0a0d;
}

tr:nth-child(odd) {
    background-color: #ac452d;
}


.table{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  width: 50%;
  height: auto;
}

.new{
  margin-left: 75px;
  margin-top: 75px;
  font-size: 40px;
}

input[type=submit] {
    padding:15px 25px;
    color:#dddddd;
    background:#ac452d;
    border-color:#5e1415;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 30px;
}

input[type=submit]:hover{
  background-color: #5e1415;
}

.margin-left{
  margin-left: 60px;
}

#background{
  padding:15px 25px;
  color:#dddddd;
  background:#ac452d;
  border-color:#5e1415;
  border-radius: 5px;
  font-size: 22px;
  width: 14%;
}
